
/*
CSS rules for the whole body
*/
body{
    padding: 0%;
    margin: 0;
}
/*
css rules to hide the footer.
*/
footer{
    
}
/*
CSS rules for the introduction section
*/
#introduction{
   background-color: #004643;
   text-align: center;
   
   width: 100%;
   padding: 20px 0px 10px 0px;
   
}
/*
CSS rules for the mobi section
*/
#mobi{
   
   background-color: #f2f7f5;
   text-align: center;
   width: 100%;
  
  
    
      
}

#projects{
    text-align: center;
    width: 100%;
    background-color: #232946;
    overflow: hidden;
    
   
}

/*
left chunk of text on the mobi section
*/
#mobi-left{
    overflow: hidden;
    align-items:center;
    margin: auto;
    width: 80%;
   
    
}

/*
right chunk of text on the mobi section
*/
#mobi-right{
    overflow: hidden;
    margin: auto;
    width: 80%;
     
}


/*
CSS rules for projects divs
*/
#projects-first{
    overflow: hidden;
    margin: 50px;
    width: auto;
      

}
#projects-second{
    overflow: hidden;
    margin: 50px;
    width: auto;
     

}

#projects-first-text{
    text-align: left;
    float: left;
    width: 50%;
    
}
#projects-second-text{
    text-align: left;
    float: right;
    width: 50%;
     
}



/*
CSS rules for all links
*/

a{
    text-shadow: 2px 2px 4px #000000;
    color: #e16162;
}
a:hover, a:active, a:focus { 
    /*background-color: rgb(255, 0, 251);*/
    color: #001e1d;
    /*background-color: #f9bc60;*/
} 

/*
CSS rules for all other links
*/
#mobi a{
    
    text-shadow:none;
    margin:20px 10px 20px 30px;
   }
#mobi a:hover a:active a:focus{
   
    color: black;
}
 
/*
CSS rules that all paragraphs have by default
*/
p{
    
    padding: 0px 20px 0px 20px;
    overflow: scroll;
}


/*
rule for intro header
*/
#intro-header{
    color: #fffffe;
    font-size: 20px;
    text-shadow: 2px 2px 4px #000000;
}

/*
RULES for Mobi Header
*/
#mobi-header{
    color: #00473e;
    
}

/*
Rules for project Header
*/
#projects-header{
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;
    color: #fffffe;
}

#projects-header-first{
    color: #fffffe;
}
#projects-header-second{
    color: #fffffe;
}




/*
CSS rules for only first paragraph
*/
#intro-paragraph{
    /*background:rgb(200,200,200);*/
    color: #abd1c6;
    text-align: left;
    margin: auto;
    width: 75%;
    text-shadow: 2px 2px 4px #000000;
    padding: 20px 0px 20px 20px;
}


/*
mobi left paragraph css
*/
#mobi-paragraph-left{
    text-align: left;  
    text-shadow: 2px 2px 4px #ffffff;
}

/*
mobi righ paragraph css
*/
#mobi-paragraph-right{
    text-align: left;
    text-shadow: 2px 2px 4px #ffffff;
}

/*
project paragraphs css 
*/
#projects-paragraph-first{
    color: #b8c1ec;
    text-align: left;
    text-shadow: 2px 2px 4px #000000;
     
}
#projects-first-list-header{
    color: #fffffe;
    text-align: left;
    
}
#projects-first-list-items{
    color: #b8c1ec;
    text-align: left;
    text-shadow: 2px 2px 4px #000000;
}

.projects-keywords{
    color: #fffffe;
    text-shadow: 2px 2px 4px #000000;
}

#projects-paragraph-second{
    color: #b8c1ec;
    text-align: left;
    text-shadow: 2px 2px 4px #000000;
     
}

#projects-second-list-header{
    color: #fffffe;
    text-align: left;
    
}
#projects-second-list-items{
    color: #b8c1ec;
    text-align: left;
    text-shadow: 2px 2px 4px #000000;
}



/*
profile image css
*/
#profile-image{
    width: 30%;
    float: right;
    margin: 20px;
    border: 10px ridge #483A3A;
}

/*
mobi logo images css
*/
#mobi-logo-image{
    margin: 0;
    width: 95%;
    
    padding: 20px 0px 0px 0px;
    
}

#mobi-image-1{
    width: 50%;
    float: left;
    box-shadow: 10px 10px 5px lightblue;
    margin: 20px;
   
}

#mobi-image-2{
    width: 50%;
    float: right;
    box-shadow: 10px 10px 5px lightblue;
    margin: 20px;
   
}

#projects-images-first{
    overflow: hidden;
    float: right;
    width: 45%;
    
    
}
#projects img{
    width: 20%;
    
}


#projects-images-second{
    overflow: auto;
    float: left;
    width: 45%;
    
}
#projects-images-second img{
    width: 100%;
    height: auto;
}

/*
link to page where to find the hues/colors: https://www.happyhues.co/palettes/10
list of hues/colors used

intro section:#10
    Elements        
        background:#004643
        Headline:#fffffe
        Paragraph:#abd1c6
        Button:#f9bc60
        Button Text:#001e1d
    Illustration    
        Stroke: #001e1d
        Main: #e8e4e6
        Highlight: #f9bc60
        Secondary: #abd1c6
        Tertiary:  #e16162  
        
mobi section:#05
    Elements    
        background:#f2f7f5
        Headline:#00473e
        Paragraph:#475d5b
        Button:#faae2b
        Button Text:#00473e
    illustrations  
        Stroke: #00332c
        Main: #f2f7f5
        Highlight: #faae2b
        Secondary: #ffa8ba
        Tertiary:   #fa5246
    
projects section: (colors will change)
    Elements
        background: #232946
        Headline: #fffffe
        Paragraph: #b8c1ec
        Button: #eebbc3
        Button Text: #232946
    Illustration
        Stroke:  #121629
        Main:  #b8c1ec
        Highlight: #eebbc3
        Secondary: #fffffe
        Tertiary:  #eebbc3
*/






























